annotated-types
anyio
certifi
click
fastapi
greenlet
h11
httpcore
httpx
idna
iniconfig
packaging
pluggy
pydantic
pydantic-settings
pydantic_core
Pygments
pytest
pytest-asyncio
python-dotenv
sniffio
SQLAlchemy
starlette
uvicorn
